@import './libs/normalize';
@import './components/all';

body {
  background-color: #fff;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: auto;
  overflow: visible;
  min-height: 100vh;
  margin: 0;
  font-size: 1vw;
  font-weight: 300;
  line-height: 140%;
}

.page-container {
  overflow: hidden;
}